[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
uwsgi = "*"
requests = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[requires]
python_version = "3.7"
